@model Product
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Product</h2>
			<hr />
		</div>
		<div class="mb-3 row p-1">
			<div class="mb-3 row p-1">
				<label asp-for="Title" class="p-0"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="mb-3 row p-1">
				<label asp-for="Author" class="p-0"></label>
				<input asp-for="Author" class="form-control" />
				<span asp-validation-for="Author" class="text-danger"></span>
			</div>
			<div class="mb-3 row p-1">
				<label asp-for="Description" class="p-0"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="mb-3 row p-1">
				<label asp-for="Price" class="p-0"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="mb-3 row p-1">
				<label asp-for="ISBN" class="p-0"></label>
				<input asp-for="ISBN" class="form-control" />
				<span asp-validation-for="ISBN" class="text-danger"></span>
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary form-control">Save</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Product" asp-action="Index" class="btn btn-secondary border  form-control">
						Back to List
					</a>
				</div>
			</div>

		</div>
	</div>
</form>